<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Submitted XRay</title>
  <link rel="stylesheet" href="styles_submitted.css">
</head>
<body>
    <div class="loader">
      <h1 style="text-align:center">Your XRay has been uploaded. </h1>
      <div class="user_xray">
        <img src="" alt="">
      </div>
      <h2 style="text-align: center">Please wait generating heatmap. </h2>
      <div class="boxes">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

</body>
</html>
