body{
  background-image: url("https://images.unsplash.com/photo-1511701324274-15e38004c4c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80.jpg");

}
.navbar{
  margin-bottom: 10px;
}
#xray{
  float: left;;
  margin: 10px;
}
#heatmap{
  float:left;
  margin: 10px;
}
.carousel{
  width: 100%;
  height : 50px;
}
